@model Student_Information_WebApp.Models.Cours

@{
    ViewBag.Title = "Delete";
}

<link href="~/Style/StyleSheet.css" rel="stylesheet" />

<h2 class="delete">Delete</h2>

<h3>Are you sure you want to delete info of this cours?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CourseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LecturerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LecturerName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
